// Colors
$white:       #ffffff;
$black:       #000000;
$dark-gray:   #333333;
$light-gray:  #cccccc;
$pink:        #ff0099;
$blue-dark:   #549FCB;
$blue-middle: #4cb7eb;
$blue-light:  #a9cfe6;

$theme-white:       #ffffff;
$theme-black:       #000000;
$theme-dark-gray:   #333333;
$theme-light-gray:  #cccccc;


$logo-height: 80px;
$nav-padding: 10px;