@import "imports";
html, body {
    overscroll-behavior: none;
}
html {
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-availabe;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $blue-dark;
}

.navbar {
    padding: $nav-padding 1rem;   
    background-color: $white !important;
    // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    .nav-item {
        padding: 0 2rem;
    }
    a {
        color: $black !important;
    }
    .dropdown-item {
        color: $black !important;
    }
    img {
        min-height: $logo-height;
    }
}

.modal-backdrop {
    background-color:$theme-dark-gray;
    opacity: .7 !important;
}

#content {
    background-color: $blue-dark;
    color: $white;

    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    // height: 100vh;


    section {
        height: 100vh;
        // scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-weight: 700;
        margin-top: 3rem;
    }
    h3 {
        font-weight: 300;
    }
    h4 {
        font-weight: 300;
    }
    p {
        font-weight: 300;
    }

    #heading {
        margin-top: calc(#{$logo-height} + (#{$nav-padding} * 2));
        position: relative;
        
        .title {
            position: absolute;
            z-index: 2;
            max-width: 50%;
            @include media-breakpoint-down(md) { max-width: 90%; }
        }
        .whale {
            position: relative;
            top: 0;
            left: 0;
        }
        
    
    }
}

#icons {
    i {
        font-size: 2rem;
        padding: .5rem;
    }
}

footer {
    background-color: $theme-dark-gray;
    color: $white;

    font-weight: 500;
    img {
        max-height: 80px;
    }
}