@import "imports";
html, body {
    overscroll-behavior: none;
}
html {
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-availabe;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $blue-dark;
}

.navbar {
    // opacity: .5;
    padding: $nav-padding 1rem;   
    background-color: $white !important;
    // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    .nav-item {
        padding: 0 2rem;
        @include media-breakpoint-down(md) { 
            text-align: right;
            padding-right: 0;
        }
    }
    a {
        color: $black !important;
        cursor: pointer;
    }
    .dropdown-item {
        color: $black !important;
    }
    img {
        max-height: $logo-height;
    }
}

.modal-backdrop {
    background-color:$theme-dark-gray;
    opacity: .7 !important;
}

#content {
    min-height: calc( 100vh - (#{$logo-height} + ( #{$nav-padding} * 2 )));
    background-color: $blue-dark;
    color: $white;

    section {
        min-height: 100vh;
        // padding-top: calc(#{$logo-height} + ( #{$nav-padding} * 2 ));
        padding-top: $logo-height;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-weight: 700;
        margin-top: 3rem;
    }
    h3 {
        font-weight: 100 !important;
        font-size: 3rem;
    }
    h4 {
        font-weight: 300;
    }
    p {
        font-weight: 300;
    }

    #heading {
        height: calc( 100vh - #{$logo-height}) !important;
        padding-top: calc( #{$logo-height} + ( #{$nav-padding} * 2 ));
        border: 10px solid $white;
        background: url('../img/whale.jpg') no-repeat center center; 
        background-size: cover;
        overflow: hidden;
        @include media-breakpoint-down(md) { 
            background-position: left -40rem top 3rem; 
        }

        .tngocc {
            position: absolute;
            z-index: 2;
            max-width: 50%;
            @include media-breakpoint-down(md) { max-width: 90%; }
        }
    }
    #vision {
        
    }
    #video {
        
    }
    #discover {
        color: $black;
        .container {
            background-color: $gray-300;
            padding: 0;
            min-height: 5rem;
            @include media-breakpoint-down(md) { 
                margin-top: $navbar; 
                text-align: center;
            }
            h2 {
                display: block;
                background-color: $white;
                margin-top: 0;
                padding: 1rem;
            }
            .pictos {
                div {
                    text-align: center;
                }
                p {
                    font-weight: 400;
                }
            }
        }
    }
    #pictos {
        .row {
            margin-bottom: 5rem;
            padding-bottom: 5rem;
            @include media-breakpoint-down(md) { border-bottom: 1px dotted $white; }
            div {
                margin: auto 0;
            }
        }
    }
    #experience {
        
    }
    #technology {
        
    }
}

#icons {
    i {
        font-size: 2rem;
        padding: .5rem;
    }
}

footer {
    background-color: $white;
    color: $black;

    font-weight: 400;
    img {
        max-height: calc(#{$logo-height} / 1.5);
    }
    a, a:hover {
        color: $black;
        text-decoration: none;
        cursor: pointer;
    }
}